
<div class="container">
  <div class="row mt-5">
    <div class="col">
      <form class="row justify-content-center" (ngSubmit)="buscar()">
        <div class="col-auto">
          <input type="text" class="form-control" [(ngModel)]="termino" name="termino">

        </div>
        <div class="col-auto">
          <button class="btn btn-dark">Buscar</button>

        </div>
      </form>
    </div>
  </div>
</div>


<div class="container">
  
  <div class="row justify-content-center mt-5">
    <div class="col-auto">
      <div class="card">
        <ul class="list-group list-group-flush">
          <!-- <li class="list-group-item" *ngFor="let item of peliculas.results">{{item | json}}</li> Este pipe json permite saber que objeto está imprimiendo -->
          <li class="list-group-item" *ngFor="let item of peliculas.results">{{item.original_title}}
        </ul>
      </div>
  
    </div>
  </div>

</div>
